/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://img.freepik.com/fotos-premium/ilustracao-do-joystick-do-gamepad-do-controlador-de-jogos-cyberpunk_691560-5812.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding: 0;
}



header {
    background-color: rgb(10, 10, 10);
    /* Fundo semi-transparente para melhor legibilidade. */
    text-align: center;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

nav {
    display: inline;
    justify-content: space-between;
    padding: 0 10px;
}

nav ul {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    /* Para exibir os itens de menu na mesma linha */
    margin-right: 10px;
    /* Espaço entre os itens de menu, ajuste conforme necessário */
}

nav li {
    margin-right: 30px;
    display: inline;
    margin-left: 10px;
    color: #922f2f;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

section {
    background-color: rgba(255, 255, 255, 0.95);
    /* Fundo semi-transparente para melhor legibilidade. */
    padding: 20px;
    margin: 55px auto;
    max-width: 1700px;
    text-align: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    /* Fundo semi-transparente para melhor legibilidade. */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.logo img {
    max-width: 100px;
    /* Ajuste o tamanho máximo conforme necessário */
    height: auto;
    /* Mantém a proporção da imagem */
    justify-content: space-beetween;
    display: flex;
    padding: 10px;
}


.parceiros {
    margin: 30px;
}

.fundo-parceiro {
    background-color: rgb(170, 22, 22); /*n muda*/
    margin: 200px;
}

.jogos {
    width: 33.33%;
}

/* Sistema de Grid com 12 Colunas */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    /* Largura máxima do container, você pode ajustar conforme necessário */
    margin: 0 auto;
    /* Centraliza o container na página */
    padding: 20px;
    /* Adiciona algum espaço interno para espaçamento visual */
}

.day {
    background-color: #fcfafa;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    
}

.event {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 2px 2px;
    background-color: #083341;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: ;
    background-color: #333;
    /* Cor de fundo do menu, ajuste conforme necessário */
    z-index: 100;
    /* Certifique-se de que o menu esteja acima de outros elementos */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
    /* Espaçamento entre os itens do menu, ajuste conforme necessário */
}

.menu a {
    text-decoration: none;
    color: #fff;
    /* Cor do texto do menu, ajuste conforme necessário */
}

.maratona {
    margin-top: 50px;
}

img {
    display: block;
    margin: 0px auto;
}

